/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map-canvas {
  min-height: 750px;
  width: 100%;
  height:100%;
  border-radius: 2%;
}

/* Optional: Makes the sample page fill the window. */

.infowindow {
  max-height: max-content; 
  max-width: max-content;
}

.marker-label-default {
  font-family: 'Raleway', sans-serif;
  background:#FFFFFF;
  border-radius: 5px;
  padding: 5px;
}
.marker-label-mouseover {
  font-family: 'Raleway', sans-serif;
  background:#0d7070;
  border-radius: 5px;
  padding: 5px;
}

img {
  border-radius: 3%;
}